.profile-item {
    display: flex;
    background-color: aliceblue;
    flex-direction: column;
    border-radius: 8px;
    border: 1px solid gray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 300px;
    background-color: white;
    padding: 20px;
    margin: 10px;
}

.fa-2xl{
  position:absolute;
  padding: 10px;
  z-index: 2;
  // color: white;
}

.fa-10x{
  color: #ff4500;
  align-self: center;
  // background-color: #0079d3;
}


h3{
  padding-top: 10px;
}

button{
    background-color: #0079d3;
    border-radius: 20px;
    padding: 2px 30px;
    margin: 5px;
    border: none;
    color: white;
}

.fa-2xl:hover{
  transform: scale(1.2);
}

